i{
    cursor: pointer;
}
td, th {
    text-align: center;
    justify-content: center;
}
th {
    font-size: 20px;
}
.container-buttons {
    justify-content: center;
    display: flex;
    gap: 1rem;
}